@use '../utils/mixins' as *;

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header_bg_mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__text {
    margin: 0;
    font-size: 36px;
    line-height: 100%;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include contest-padding-inline;
  }
}
