.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../../images/header_bg_mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.header__text {
  margin: 0;
  font-size: 36px;
  line-height: 100%;
}

.header__bottom {
  padding: 0 20px 40px;
}
