.icon {
  display: block;
  height: 24px;
  width: 24px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon--phone {
  background-image: url(../../images/icon/icon_phone.png);
}

.icon--menu {
  background-image: url(../../images/icon/icon_burger_menu.png);
}

.icon--close {
  background-image: url(../../images/icon/icon_close.png);
}
