/* #region page */
html{
  // .space-mono-regular {
  //   font-family: "Space Mono", monospace;
  //   font-weight: 400;
  //   font-style: normal;
  // }

  // .space-grotesk-regular {
  //   font-family: "Space Grotesk", sans-serif;
  //   font-weight: 400;
  //   font-style: normal;
  // }
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  font-height: 140%;
  color: #292929;
}
body{
  margin: 0;
}
/* #endregion */
/* #region header */
.header{
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url('../images/header_bg_mobile.png');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_icons{
  display: flex;
  gap: 24px;
}

.header_text{
  margin: 0;
  size: 36px;
  font-height: 100%;
}


/* #endregion */
/* #region icon */
.icon{
  display: block;
  height: 24px;
  width: 24px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon--phone{
  background-image: url(../images/icon_phone.png);
}

.icon--menu{
  background-image: url(../images/icon_burger_menu.png);
}
/* #endregion */
/* #region footer */
.footer{
  
}
/* #endregion */